.home {
  margin-top: 48px;
}

.home * {
  outline: none;
}
.home video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent) !important;
}

.hero {
  border: 2px solid #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

.playerWrapper {
  position: relative;
  padding-top: calc(674 / 1200 * 100%);
  border-radius: 12px;
  background: var(--black);
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 5px;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  color: black;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  overflow: auto;
}

iframe {
  border-radius: 12px;
  overflow: auto;
}

.heroContent {
  margin-top: 64px;
  padding-left: 138px;
}

.content {
  margin-top: 10px;
}

.section {
  margin-top: 90px;
  cursor: pointer;
}

.sectionSummary {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.sectionSummary a {
  position: absolute;
  right: 0;
  top: calc(50% - 48px);
  transition: all 0.25s ease-in-out;
}

.sectionSummary a:hover,
.sectoinSummary a:focus {
  opacity: 0.6;
}

.sectionSummary svg {
  height: 64px;
  width: 64px;
}

.sectionArrow.open {
  transform: rotate(180deg);
}

.section h3 {
  background: white;
  border-radius: 100%;
  text-transform: uppercase;
  color: var(--blue);
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  margin-top: 0;
}

.section h3 {
  text-transform: capitalize;
}

.sectionContent {
  max-width: 60%;
}

.sectionContent label {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 22px;
  margin-bottom: 6px;
  display: block;
}

.sectionContent p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  font-weight: 400;
}

.projectCarousel {
  width: 100%;
  height: 200px;
  margin-top: 32px;
  /* padding: 0px 48px; */
  transition: all 0.25s ease-in-out;
}

.projectCarousel button {
  border: none;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  width: auto;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin: 0px 4px;
  color: white;
}

.projectCarousel button:hover,
.projectCarousel button:focus {
  background: rgba(0, 0, 0, 0.8);
}

.leftButton svg {
  transform: rotate(90deg);
}

.rightButton svg {
  transform: rotate(-90deg);
}
.project {
  flex-shrink: 0;
  border: 2px solid #ffffff;
  border-radius: 12px;
  padding: 8px;
  position: relative;
  height: 200px;
  overflow: hidden;
}

.project:last-child {
  margin-right: 0px !important;
}

.projectHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 400;
  z-index: 2;
  position: relative;
}

.projectDescription {
  margin-top: 30px;
  font-size: 12px;
  height: 65%;
  overflow: hidden;
}

.projectImage {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  outline: none;
  transition: opacity 0.25s ease-in-out;
  /* border-radius: 12px; */
}

.projectImage:hover,
.projectImage:active,
.projectImage:active {
  opacity: 0.2;
}

.selectedProject {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.fullView {
  width: 100%;
  margin-bottom: 75px;
}

.fullView > section {
  padding-top: calc(766 / 1200 * 100%);
}

.projectReactPlayer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.fullView .reactPlayer {
  padding-bottom: 51px;
  position: relative;
}
.fullView .reactPlayer video {
  background: transparent;
}
.fullView .image {
  padding-bottom: 51px;
  min-height: calc(100% - 51px);
  height: auto !important;
  background-size: cover;
}
.fullView li button svg {
  transform: scale(2);
}

.closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 4;
  border: none;
  transition: all 0.25s ease-in-out;
  width: 32px;
  height: 32px;
}

.closeButton:hover {
  background: none;
  opacity: 0.5;
}

.mobileContent {
  display: none;
}

@media screen and (max-width: 768px) {
  .heroContent {
    padding-left: 0;
  }

  .sectionSummary h3 {
    width: 21px;
    height: 21px;
    font-size: 12px;
    margin-right: 16px;
    margin-top: 8px;
  }

  .sectionContent {
    margin-right: 80px;
    width: 100%;
  }

  .project {
    /* width: 50%; */
  }

  .sectionSummary {
    align-items: center;
  }

  .sectionArrow {
    top: -8px !important;
  }

  .sectionArrow svg {
    height: 48px;
    width: 48px;
  }
  .sectionArrow svg {
  }
  .sectionContent p {
    display: none;
  }

  .fullView > section {
    padding-top: 500px;
  }

  .mobileContent {
    display: block;
    margin-top: 24px;

    transition: all 0.25s ease-in-out;
  }

  .projectCarousel,
  .project {
    height: 185px;
  }

  .section {
    margin-top: 45px;
  }
  .footer label {
    font-size: 14px;
  }
}
