:root {
  --blue: #09439c;
  --black: #231f20;
  --orange: #f05325;
  --grey-dark: #6d6e71;
  --grey: #a7a9ac;
  --grey-light: #d1d3d4;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mark OT, verdana, sans-serif;
  color: white;
  background: var(--blue);
}

body {
  padding: 52px 32px 90px 32px;
  margin: 0 auto;
  max-width: calc(1920px + 64px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  position: relative;
}

header div {
  width: 258px;
  height: 65px;
  flex-grow: 0;
  position: relative;
}

header a {
  display: flex;
  align-items: center;
}

header span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}

button {
  background: transparent;
  border-radius: 12px;
  padding: 0px 24px;
  border-color: white;
  box-shadow: none;
  color: white;
  height: 51px;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

button:hover,
button:focus,
button:active {
  background: white;
  color: var(--blue);
  border-color: var(--blue);
}

img {
  transition: opacity 0.25s ease-in-out;
}

img:hover {
  opacity: 0.8;
}

footer {
  margin-top: 254px;
  color: white;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

footer div {
  margin-right: 8px;
}

footer div a {
  text-decoration: underline;
}

footer div a:hover,
footer div a:focus {
  text-decoration: none;
}
main {
}

p {
  font-size: 24px;
  line-height: 29px;
}

.slider-frame {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-list,
.slider-slide {
  height: 100% !important;
}

.mobileBackBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  body {
    padding: 20px 18px;
    overflow-x: hidden;
  }

  header div {
    width: 150px;
    height: 38px;
  }
  p {
    font-size: 12px;
    line-height: 15px;
  }

  button {
    font-size: 12px;
    line-height: 15px;
    height: 25px;
    border-radius: 7px;
    padding: 0px 12px;
    border-width: 1px;
  }

  .desktopBackBtn {
    display: none;
  }
  .mobileBackBtn {
    display: block;
  }
  footer {
    font-size: 24px;
    line-height: 29px;
    font-size: 12px;
    line-height: 15px;
  }
}
